h1 {
    margin: 30px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-bottom: solid;
    border-top-left-radius: 5px;
    border-spacing: 20px;
    color: coral;
}

.question {

    text-align: center;
    margin-bottom: 30px;
}

.column {
    justify-content: center;
}

.startBtn {
    position: absolute;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

.quiz {
    display: none;
}

.hidden {
    display: none;
}

.show {
    display: block;
}